iframe {
    display: flex;
    margin: auto;
    width: 80%;
}

#h1-contact {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 30px 0;
}

#button-contact {
    width: 80%;
    height: 40px;
    background-color: green;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-contact a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#headerContact {
    background: url("../images/image-background.jpg") no-repeat;
    background-position: 100% 30%;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    height: 220px;
}

#image-contact {
    width: 55%;
    display: flex;
    margin: 30px auto;
}

@media screen and (max-width: 600px) {
    #image-contact {
        width: 99%;
    }

    iframe {
        width: 99%;
        height: 250px;
    }
}