#main-prim-container {
    background: url("../images/image-background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

#main-prim-container h1 {
    color: orange;
    /* text-shadow: 1px 1px 10px rgb(244, 175, 45); */
    text-shadow: 1px 1px 10px black;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    padding-top: 100px;
}

#main-prim-container h3 {
    text-align: center;
    color: red;
    /* text-shadow: 1px 1px 10px rgb(255, 166, 0); */
    text-shadow: 1px 1px 10px black;
}

.link-none-style {
    text-decoration: none;
    color: black;
}

#main-container-seg h1,
#main-container-seg p {
    text-align: center;
}

#main-container-seg h1 {
    margin-top: 60px;
}

#main-container-seg p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

#main-container-ter {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 400px;
    color: orange;
}

#main-container-ter img {
    margin-left: 70px;
    /* margin-bottom: 40px; */
}

#main-container-ter img:hover {
    transition: 0.4s;
    cursor: pointer;
    width: 520px;
}

.text-style-one {
    font-weight: 500;
}

.text-style-one span {
    font-weight: 700;
}

.main-containers-experiencia {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.main-containers-experiencia div {
    width: 100%;
    height: 250px;
    padding-top: 40px;
    background-color: rgb(244, 124, 77);
    color: white;
    text-align: center;
    margin: 10px;
}

.main-containers-experiencia div svg {
    margin: 10px;
}

.main-containers-experiencia div h2 {
    margin-bottom: 10px;
}

.main-containers-experiencia div p {
    text-align: center;
    width: 65%;
}

.main-containers-experiencia div:hover {
    transition: 0.4s;
    background-color: black;
    cursor: pointer;
}

#main-home-button-visu-cardapio {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    background-color: orange;
    font-weight: 800;
    font-size: 16px;
}

#main-home-button-visu-cardapio:hover {
    transition: 0.4s;
    margin-top: 55px;
    font-size: 16.5px;
}

#main-container-image-local-sobre figure {
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 7fr;
    width: 70%;
    margin: 80px auto;
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: whitesmoke;
}

#main-container-image-local-sobre figure img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main-container-image-local-sobre figure figcaption {
    margin: 30px;
}

#main-container-image-local-sobre figure figcaption button {
    background-color: orange;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    height: 50px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

#main-container-image-local-sobre figure button a {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;

}

#main-container-image-local-sobre figure figcaption button:hover {
    transition: 0.4s;
    width: 70%;
}

#main-container-quar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: white;
    text-align: center;
    color: #ff6600;
    text-transform: uppercase;
    padding-top: 30px;
}

#main-container-quar div img {
    width: 100%;
    cursor: pointer;
}

#main-container-quar div img:hover {
    margin-top: -5px;
    transition: 0.4s;
}

#main-contaier-depoimento {
    width: 70%;
    margin: 40px auto;
}

#main-contaier-depoimento h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.763);
    letter-spacing: 2px;
    font-weight: 500;
}

#main-contaier-depoimento h3 {
    font-weight: 400;
    letter-spacing: 3px;
}

#main-contaier-depoimento div {
    margin-top: 10px;
    margin-bottom: 30px;
}

#main-contaier-depoimento img {
    border-radius: 100%;
    width: 100px;
}

#main-contaier-depoimento p {
    width: 80%;
    text-align: center;
    margin: auto;
}

#main-container-pedido-hoje {
    background: url('../images/image-local-mara-baixar-opacidade.jpg') center center;
    background-size: 100%;
    height: 70vh;
    background-attachment: fixed;
    color: white;
    padding-top: 130px;
    text-align: center;
}


#main-container-pedido-hoje h1 {
    text-align: center;
    font-size: 50px;
}

#main-container-pedido-hoje p {
    width: 70%;
    margin: 20px auto;
}


#main-container-pedido-hoje button {
    background-color: rgba(255, 0, 0, 0);
    border: 3px solid white;
    /* padding: 23px 160px; */
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    width: 40%;
    height: 13%;
    margin: auto;
}

#main-container-pedido-hoje button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

#main-container-pedido-hoje button a:hover {
    transition: 0.4s;
    background-color: white;
    color: black;
}

#main-container-pedido-hoje::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    animation: slideBackground 20s linear infinite;
}

@keyframes slideBackground {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

#main-container-pedido-hoje h1,
#main-container-pedido-hoje p,
#main-container-pedido-hoje button {
    position: relative;
    z-index: 1;
}


@media screen and (max-width: 1450px) {
    #main-container-image-local-sobre figure {
        width: 1000px;
    }

}

@media screen and (max-width: 1200px) {
    #main-container-image-local-sobre figure {
        width: 70%;
        height: 100%;
        padding-bottom: 30px;
        display: block;
    }

    #main-container-image-local-sobre figure figcaption p {
        margin-bottom: 30px;
    }

    .main-containers-experiencia {
        width: 90%;
    }

    .main-containers-experiencia div {
        height: 270px;
    }



}

@media screen and (max-width: 1000px) {
    .main-containers-experiencia {
        width: 100%;
    }

    #main-container-ter {
        margin: 10px 0;
        display: flex;
        justify-content: space-evenly;
    }

    #main-container-ter img {
        margin-left: 0px;
        /* margin-bottom: 40px; */
    }
}

@media screen and (max-width: 800px) {
    #main-prim-container h1 {
        font-size: 38px;
    }

    #main-prim-container h3 {
        font-size: 16px;
    }

    #main-container-ter {
        height: 100%;
        padding: 40px 0;
    }

    #main-container-ter h1 {
        font-size: 25px;
    }

    #main-container-ter img {
        margin-left: 0px;
        width: 240px;
        /* margin-bottom: 40px; */
    }

    .main-containers-experiencia div {
        height: 220px;
    }

    .main-containers-experiencia h2 {
        font-size: 19px;
    }

    .main-containers-experiencia p {
        font-size: 15px;
    }

    .main-containers-experiencia div p {
        text-align: center;
        width: 90%;
    }

    .main-containers-experiencia div svg {
        margin: 0px;
    }

}

@media screen and (max-width: 700px) {
    .main-containers-experiencia {
        display: block;
        height: 100%;
    }

    .main-containers-experiencia div {
        width: 60%;
        margin: 20px auto;
    }

    #main-container-seg P {
        width: 90%;
    }

    #main-container-quar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }


    #main-container-nossas-especialidades div {
        flex-direction: column;
        justify-content: space-around;
        font-size: 25px;
    }

    #main-container-nossas-especialidades figure img {
        width: 60%;
        display: flex;
        margin: auto;
    }


}

@media screen and (max-width: 800px) {
    #main-container-image-local-sobre figure {
        width: 90%;
        height: 100%;
        padding-bottom: 30px;
        display: block;
    }

    .main-containers-experiencia p {
        font-size: 16px;
    }

    .main-containers-experiencia div p {
        width: 80% !important;
    }


}

@media screen and (max-width: 500px) {
    #main-prim-container h1 {
        font-size: 30px;
    }

    #main-prim-container h3 {
        font-size: 16px;
        width: 70%;
        margin: auto;
    }

    #main-container-ter {
        display: block;
        margin: auto;
    }

    #main-container-ter img {
        margin: auto;
        width: 280px;
        display: flex;
    }

    #main-container-ter img:hover {
        width: 290px;
    }

    #main-container-ter h1 {
        font-size: 24px;
    }

    .main-containers-experiencia div {
        width: 80%;
        height: 220px;
        margin: 20px auto;
    }

    .main-containers-experiencia p {
        font-size: 17px;
    }

    /* 
    .main-containers-experiencia svg {
        font-size: 10px;
    } */
}

#main-container-diferencias {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

#main-container-diferencias figcaption {
    width: 300px;
    position: absolute;

}

#main-container-diferencias img {
    margin: 70px auto;
    display: flex;
    width: 310px;
}

#main-container-nossas-especialidades div {
    display: flex;
    justify-content: space-around;
}

#main-container-nossas-especialidades {
    margin-bottom: 100px;
    cursor: pointer;
}

#main-container-nossas-especialidades figure {
    /* width: 300px; */
    margin: 2%;
}

#main-container-nossas-especialidades img {
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
}


#main-container-nossas-especialidades figcaption {
    text-transform: uppercase;
}

#main-container-nossas-especialidades h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(134, 14, 14);
    font-weight: 900;
    font-size: 26px;
}

#main-container-figcation-especialidades {
    display: flex;
    justify-content: space-between;
    width: 95%;
    text-align: center;
    margin: auto;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 1400px) {
    #main-container-diferencias .primeiro-figcaption {
        left: 26%;
    }

    #main-container-diferencias .segundo-figcaption {
        right: 17%;
    }
}

@media screen and (max-width: 1300px) {
    #main-container-diferencias .primeiro-figcaption {
        left: 10%;
    }

    #main-container-diferencias .segundo-figcaption {
        right: 6%;
    }

    #main-container-diferencias .setas-primeiro-figcaption {
        margin-left: 210px;
    }

    #main-container-diferencias .setas-segundo-figcaption {
        margin-left: -50px;
    }
}

@media screen and (max-width: 1000px) {
    #main-container-diferencias .setas-segundo-figcaption {
        margin-left: -20px;
    }
}

@media screen and (max-width: 970px) {
    #main-container-nossas-especialidades h2 {
        font-size: 19px;
        margin-top: 10px;
    }

    #main-container-diferencias {
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #main-container-diferencias img {
        width: 40%;
    }

    #main-container-diferencias figcaption {
        width: 90%;
        position: relative;

    }

    #main-container-diferencias .setas-primeiro-figcaption {
        margin-left: 0px;
    }

    #main-container-diferencias .primeiro-figcaption {
        right: 0%;
        left: 0%;
        width: 90%;
        margin: auto;
    }

    #main-container-diferencias .segundo-figcaption {
        right: 0%;
        width: 90%;
        margin: auto;
    }

    #main-container-diferencias .setas-primeiro-figcaption,
    #main-container-diferencias .setas-segundo-figcaption {
        display: none;
    }

    #main-container-diferencias .segundo-figcaption h2::before,
    #main-container-diferencias .primeiro-figcaption h2::before {
        content: '- ';
    }


    #main-container-pedido-hoje {
        background-size: cover;
        height: 100%;
        padding-bottom: 120px;
    }


}

.primeiro-figcaption {
    left: 27%;
}

.setas-primeiro-figcaption {
    margin-left: 110px;
}

.segundo-figcaption {
    right: 20%;
}

.setas-segundo-figcaption {
    margin-left: -20px;
}

@media screen and (max-width:650px) {
    #main-container-pedido-hoje h1 {
        font-size: 34px;
    }

    #main-container-pedido-hoje {
        font-size: 17px;
    }

    #main-container-pedido-hoje p {
        width: 90%;
    }

    #main-container-pedido-hoje button {
        width: 70%;
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    #main-container-nossas-especialidades div {
        flex-direction: column;
        justify-content: space-around;
        font-size: 25px;
    }

    #main-container-nossas-especialidades div figure {
        margin-top: 30px;
    }

    #main-container-nossas-especialidades figure img {
        width: 100%;
        display: flex;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    #main-prim-container h1 {
        margin-top: 50px;
    }

    #main-prim-container {
        padding-bottom: -20px;
    }

    #main-container-pedido-hoje h1 {
        font-size: 26px;
    }

    #main-container-pedido-hoje p {
        font-size: 15px;
    }

    #main-container-pedido-hoje button {
        width: 75%;
        height: 60px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid white;
    }

    .container-variedades {
        margin-top: 60px;
    }

}

.container-variedades {
    text-align: center;
}