#main-container-menu-background {
    background: url("../images/image-background.jpg") no-repeat;
    background-position: 100% 30%;
    background-size: cover;
    width: 100%;
    height: 250px;
}

#header {
    margin-top: -130px;
    margin-left: 300px;
}

#main-containers-produtos {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-content: space-around;
    width: 70%;
    margin: 30px auto;
}

#main-containers-produtos img {
    width: 100%;
}

#main-containers-produtos div {
    width: 90%;
    margin: 20px 0;
}

#text-h1-cardapio {
    color: red;
    text-shadow: 1px 1px 3px orange;
    text-align: center;
    margin-top: 20px;
}

.text-h3-products span {
    /* color: rgb(228, 151, 8); */
    color: #e9740e;
    text-shadow: 1px 1px 0.1px whitesmoke;
}

#main-containers-produtos img {
    border-radius: 3px;
}

.button-menu-pedido {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: orange;
    outline: none;
    border: none;
}

.title-prod {
    font-weight: 800;
    margin-left: 10px;
}

.list-detalhes-produtos {
    list-style: none;
    margin-top: -10px;
}